<br>
<br>
<br>
<br>
<center><form action="/form" method="GET">
	<br>
	The User <b>{{ name }}</b> doesnt exists, Kindly check the <b>Username</b> once.<br><br>
    Feel free to use <b>Create</b> module to create new users"
    <br>
	<br>
	<input type="submit" value="Return to Update page">
</form>
<form action="http://{{ create_con_name }}.{{ custom_network_name }}:{{ create_port }}/form" method="GET">
    <input type="submit" value="Go to create page">
</form>
<form action="http://{{ home_con_name }}.{{ custom_network_name }}:{{ home_port }}" method="GET">
	<input type="submit" value="return to home page">
</form></center>