<center><h1>Welcome to my Demo CRUD App</h1>
    <h2>Select the options according to your needs</h2>
    <form method="GET">  

      <button type="submit" value="Create" formaction="/form">Create</button>
	    <br>
	    <br>
    <button type="submit" value="Read" formaction="http://{{ read_con_name }}.{{ custom_network }}:{{ read_port }}/read">Read</button>
          <br>
            <br>

	<button type="submit" value="Update" formaction="http://{{ update_con_name }}.{{ custom_network }}:{{ create_port }}/update">Update</button>
  <br>
            <br>

	<button type="submit" value="Delete" formaction="http://{{ delete_con_name }}.{{ custom_network }}:{{ create_port }}/delete">Delete</button>
  <br>
            <br>

    </form></center>

