<br>
<br>
<br>
<br>
<center><form action="http://{{ update_con_name }}.{{ custom_network_name }}:{{ update_port }}/form" method="GET">
	<br>
	The User <b>{{ name }}</b> ia already exists with Employee ID <b>{{ employee_id }}</b> and Employee mail <b>{{ employee_mail }}</b>,Kindly check the name once.<br><br>
    Feel free to use <b>Update</b> portal for Updating details for existing users"
    <br>
	<br>
	<input type="submit" value="Go to Update page">
</form>
<form action="/form" method="GET">
    <input type="submit" value="return to create page">
</form>
<form action="http://{{ home_con_name }}.{{ custom_network }}:{{ home_port }}" method="GET">
	<input type="submit" value="return to home page">
</form></center>


